<html>
    <body>
        <h1 class="logo" style="color: darkcyan;" >Reset your Password</h1>

        <h3>Your One-Time password  is <span >{{otp}}</span>.Dont share this OTP to anyone else</h3>
        <p style="color: red;">This one time password will expires in an hour</p>

        <p>Ecommerce 2021-2022</p>
    </body>
</html>
